@charset "UTF-8";

/*Fonts*/

@font-face {
    font-family: 'chunkfive';
    src: url('../fonts/chunkfive-webfont.woff'),
         url('../fonts/chunkfive-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bold';
    src: url('../fonts/rubik-bold-webfont.woff'),
         url('../fonts/rubik-bold-webfont.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bolditalic';
    src: url('../fonts/rubik-bolditalic-webfont.woff'),
         url('../fonts/rubik-bolditalic-webfont.woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'rubik-regular';
    src: url('../fonts/rubik-regular-webfont.woff'),
         url('../fonts/rubik-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-italic';
    src: url('../fonts/rubik-italic-webfont.woff'),
         url('../fonts/rubik-italic-webfont.woff2');
    font-weight: normal;
    font-style: italic;
}

/*General Rules*/

h2 {
    font-family: 'chunkfive', Arial, serif;
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
}

h3, a {
    font-family: 'rubik-bold', Arial, serif;
}

h4 {
    font-family: 'rubik-italic', Arial, serif;
    
}

h5 {
    font-family: 'rubik-bolditalic', Arial, serif;
}

p {
    font-family: 'rubik-regular', Arial, serif;
}

.hidden {
    display: none;
}

img, embed, object, video {
    max-width: 100%;
}

h2, h3, h4 {
    color: #fff;
}

#logo, #desktopNav, #desktopNavFoot, #stats, .heroBut, #histImg, .conInfo, .relatedInfo, #fundPhoto, .contactTwo, #thirdAbout, #imgTwo, .homeOverlay, .proOverlay, .videoBut, .lightbox, .gearOverlay {
    display: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.bg {
    background-color: #004200;
}

/*Button transform*/
.back:active, .next:active, .homeBut:active, li a:active, .aboutBut:active, .newsBut:active, #contactSubmit:active {
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

/*Image transform*/

@media screen and (min-width: 641px) {
    .gearImg:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        transform: scale(1.15);
    }
}

/*Header*/

#mainHeader {
    background-color: #004200;
    padding: 15px;
}

#menuBut {
    width: 24px;
    height: 24px;
    line-height: 55px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #007f00;
    transition: all 500ms ease;
}

#menuBut img {
    margin-bottom: 10px;
}

#menuBut.expanded {
    -webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#social {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.soc {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #007f00;
}

/*Header Responsive*/

@media screen and (min-width: 800px) {
    #menuBut {
        display: none;
    }
    #logo {
        display: block;
        width: 140px;
        grid-column: 1/3;
    }
    #mobileLogo {
        display: none;
    }
    #mainHeader {
        height: 125px;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 66.5px));
        grid-template-rows: repeat(2, 52.5px);
        grid-gap: 15px;
    }
    #social {
        grid-column: 9/-1;
    }
    #desktopNav {
        display: inline-block;
        grid-column: 4/-1;
    }
    #desktopNav ul {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(6, minmax(10px, 1fr));
        grid-gap: 10px;
    }
    #desktopNav ul li {
        display: contents;
        text-align: center;
    }
    #desktopNav ul li a {
        font-size: 14px;
        color: #007f00;
        padding: 10px 0px;
        background-color: #fff;
        border-radius: 10px; 
    }
    #desktopNav ul li a:hover{
        background-color: #007f00;
        color: #fff;
    }
}

/*Hamburger menu*/

#burgerCon {
    display: none;
    margin-top: 10px;
}

#burgerCon.slideToggle {
	display: block;
	overflow: inherit;
}

#mobileNav li a {
	display: block;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #fff;
    font-family: 'rubik-bold', Arial, serif;
}

#mobileNav li a:hover {
    color: #007f00;
    background-color: #fff;
}

#mobileNav li {
	border-bottom: 1px solid #efefef;
}

#mobileNav li:first-child {
	border-top: 1px solid #efefef;
}

/*Index Main*/

#mobileLogo {
    max-width: 400px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px 5px 10px;
}

#mobileLogo img {
    max-width: 170px;
}

#hero {
    max-width: 641px;
    height: 310px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    background: url(../images/mobile-hero.jpg) center no-repeat;
    padding: 20px 10px;
}

#hero h2 {
    font-size: 30px;
    line-height: 35px;
}

#hero h3 {
    font-size: 20px;
    margin-top: 20px;
    line-height: 25px;
}

#hero p {
    color: #fff;
    font-family: 'rubik-italic', Arial, serif;
    margin-top: 95px;
    line-height: 22px;
}

.back, .next {
    width: 44px;
    height: 44px;
    padding: 3px;
    border: 3px solid #007f00;
    border-radius: 10px; 
}

.back {
    background: url(../images/back.svg) no-repeat 6px;
    background-origin: content-box;
    background-color: #fff;
}

.next {
    background: url(../images/next.svg) no-repeat 12px;
    background-origin: content-box;
    background-color: #fff;
}

.back:hover {
    background: url(../images/back2.svg) no-repeat 10px;
    background-color: #007f00;
}

.next:hover {
    background: url(../images/next2.svg) no-repeat -10px;
    background-color: #007f00;
}

.homeBut {
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.homeBut h3 {
    color: #007f00;
    line-height: 50px;
    padding: 5px 5px;
    border: 3px solid #007f00;
    border-radius: 15px;
}

.homeBut h3:hover {
    background-color: #007f00;
    color: #fff;
}

#recent {
    background-color: #004200;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 15px 30px;
}

.line {
    max-width: 641px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.activities {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
}

.activities img {
    margin-top: 10px;
}

.titleAct {
    max-width: 378px;
    height: 50px;
    margin: 0 auto;
    background-color: #fff;
}

.titleAct h3 {
    color: #007f00;
    line-height: 50px;
    font-size: 17px;
    border: 2px solid #007f00;
}

.titleAct h3:hover {
    background-color: #007f00;
    color: #fff;
}

/*Index Responsive*/

@media screen and (min-width: 500px) {
    #hero {
        background: url(../images/tablet_hero.jpg) center no-repeat;
    }
}

@media screen and (min-width: 530px) {
    #hero {
        padding: 20px 70px;
    }
}

@media screen and (min-width: 641px) {
    #homeButCon {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        margin-top: 5px;
    }
    .homeBut h3 {
        padding: 0px 10px;
    }
    #recent {
        margin: 0;
        margin-top: 15px;
    }
    h2 {
        font-size: 30px;
    }
    #recentCon {
        display: flex;
        padding-bottom: 5px;
    }
    .titleAct h3 {
        line-height: 20px;
        padding: 5px 25px;
    }
    .activities {
        margin: 0;
        margin-top: 5px;
    }
}

@media screen and (min-width: 648px) {
    #hero h2 {
        padding: 0px 80px;
    }
}

@media screen and (min-width: 800px) {
    h2 {
        font-size: 35px;
    }
    #hero h2 {
        margin-top: 10px;
    }
    #hero h3 {
        font-size: 23px;
    }
    #hero p {
        font-size: 22px;
    }
    #recent h2 {
        font-size: 35px;
    }
    .titleAct h3 {
        font-size: 19px;
        padding: 5px 45px;
    }
    .homeOverlay {
        background: rgba(0,0,0,0.5);
        position: absolute;
        display: block;
        grid-column: 1/-1;
        max-width: 378px;
        max-height: 200px;
        left: 0;
        right: 0;
        padding: 20px 0px;
        transition: all 1s ease;
        opacity: 0;
        margin-top: 10px;
    }
    .homeOverlayCon {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        align-items: center;
        justify-items: center;
    }
    .homeOverlayCon img {
        grid-column: 1/-1;
    }
    .homeOverlayText {
        color: #fff;
        padding: 0px 30px;
    }
    .homeOverlayText p {
        font-family: 'rubik-bold', Arial, serif;
        line-height: 25px;
        font-size: 14px;
    }
    .homeOverlayText h4 {
        margin-top: 10px;
        padding: 10px 0px;
        line-height: 10px;
    }
    .videoBut {
        display: block;
        width: 55px;
        height: 55px;
        background: url(../images/play.svg) no-repeat center;
        position: absolute;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .videoBut:hover {
        background: url(../images/play2.svg) no-repeat center;
    }
    .lightbox {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.5);
        grid-column: 1/-1;
        grid-row: 1/-1;
        display: none;
    }
    .show-lightbox {
        display: block;
    }
    .lightbox video {
        width: 60%;
        margin-top: 1%;
        background-color: #000000;
    }
    .lightbox-close {
        position: absolute;
        color: #fff;
        right: 12px;
        top: 12px;
        cursor: pointer;
        font-size: 2em;
    }
    #hero {
        position: relative;
        margin: 0;
        padding: 10px 10px 0px 10px;
        background: none;
        max-width: 960px;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(8, minmax(50px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
        grid-gap: 10px;
        align-items: center;
        justify-items: center;
    }
    #imgTwo {
        display: block;
        position: absolute;
        height: 400px;
        grid-column: 1/-1;
        grid-row: 1/-1;
        padding: 10px 0px;
    }
    #hero h2 {
        position: absolute;
        grid-column: 2/8;
        grid-row: 1/3;
        font-size: 37px;
        line-height: 35px;
    }
    #hero h3 {
        position: absolute;
        grid-column: 2/8;
        grid-row: 4/6;
        font-size: 25px;
    }
    #hero p {
        position: absolute;
        margin: 0;
        grid-column: 2/8;
        grid-row: 5/-1;
        font-size: 20px;
        line-height: 25px;
        margin-top: 30px;
    }
    .heroBut {
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .heroBack {
        grid-column: 1/2;
    }
    .heroNext {
        grid-column: 8/-1;
    }
}

@media screen and (min-width: 900px) {
    .titleAct h3 {
        padding: 5px 50px;
    }
    .navi a {
        font-size: 16px;
    }
    .homeOverlayText p {
        font-size: 16px;
    }
    .homeOverlayText h4 {
        font-size: 18px;
    }
}

/*Footer*/

#mainFoot {
    height: 50px;
    background-color: #004200;
    padding: 15px 10px;
    margin-top: 10px;
}

#backTop {
    width: 30px;
    height: 30px;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    border: 3px solid #007f00;
}

#backTop img {
    margin-top: 5px;
}

#socialFoot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Footer Responsive*/

@media screen and (min-width: 800px) {
    #backTop {
        display: none;
    }
    #mainFoot {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 66.5px));
        grid-gap: 15px;
    }
    #desktopNavFoot {
        display: inline-block;
        grid-column: 1/9;
    }
    #socialFoot {
        grid-column: 9/-1;
    }
    #desktopNavFoot ul {
        margin-top: 9px;
        display: grid;
        grid-template-columns: repeat(6, minmax(10px, 1fr));
        grid-gap: 10px;
    }
    #desktopNavFoot ul li {
        display: contents;
        text-align: center;
    }
    #desktopNavFoot ul li a {
        font-size: 12px;
        color: #007f00;
        padding: 10px 0px;
        background-color: #fff;
        border-radius: 10px; 
    }
    #desktopNavFoot ul li a:hover{
        background-color: #007f00;
        color: #fff;
    }
}

@media screen and (min-width: 900px) {
    #desktopNavFoot ul li a {
        font-size: 14px;
    }
}

/*About Page Mobile*/

#aboutUs {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#aboutUs h4 {
    color: #fff;
    padding: 5px 5px;
    line-height: 22px;
}

#aboutUs p {
    color: #fff;
    padding: 30px 20px 10px 20px;
    line-height: 22px;
}

#aboutCon {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-template-rows: 50px 50px 50px;
    grid-gap: 15px;
}

.aboutBut {
    width: 97%;
    text-align: center;
    margin: 0 auto;
}

.aboutBut h3 {
    color: #007f00;
    line-height: 50px;
    background-color: #fff;
    border: 3px solid #007f00;
    border-radius: 10px;
}

.aboutBut h3:hover {
    background-color: #007f00;
    color: #fff;
}

.prot, .bree, .form {
    grid-column: 1/7;
}

.part, .prom, .incr {
    grid-column: 7/-1;
}

#history {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

#history p {
    color: #fff;
    padding-top: 10px;
    text-indent: 1em;
    line-height: 20px;
}

#meetings {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

#meetings p {
    color: #fff;
    text-indent: 1em;
    padding-top: 10px;
    line-height: 20px;
}

#meetings img {
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

#gearCon {
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    overflow: hidden;
    margin-top: 15px;
}

#gear {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}

#gear p {
    text-align: center;
    color: #fff;
    padding: 20px 10px 5px 10px;
    font-size: 18px;
    line-height: 20px;
}

.gearImg {
    margin: 0 auto;
    padding-bottom: 20px;
}

.mobileOverlay {
    position: absolute;
    height: 50px;
    padding: 5px 15px;
    background: rgba(0,0,0,0.7);
    font-size: 30px;
    text-align: center;
    line-height: 52px;
    border-radius: 10px;
    margin-left: 10px;
}

#stats {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

.statBut {
    display: flex;
    justify-content: center;
}

#business {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

#businessCon {
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
}

#businessCon a {
    display: contents;
}

.pos {
    background-color: #fff;
    border: 3px solid #007f00;
    padding: 5px;
}

.pos h3, .pos p {
    color: #007f00;
    padding: 2px;
}

#exe {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

#exeCon {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

#vol {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

#volCon {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

/*About Page Responsive*/

@media screen and (min-width: 450px) {
    #businessCon {
        display: grid;
        grid-template-columns: repeat(11, minmax(10px, 1fr));
        grid-template-rows: repeat(2, minmax(50px, 1fr));
        grid-gap: 15px;
        justify-items: center;
    }
    #bisOne, #bisFour {
        grid-column: 1/5;
    }
    #bisTwo, #bisFive {
        grid-column: 5/9;
    }
    #bisThree {
        grid-column: 9/-1;
        grid-row: 1/-1;
    }
}

@media screen and (min-width: 641px) {
    .mobileOverlay {
        display: none;
    }
    #aboutCon {
        grid-template-rows: 50px 50px;
    }
    .prot, .prom {
        grid-column: 1/5;
    }
    .part, .form {
        grid-column: 5/9;
    }
    .bree, .incr {
        grid-column: 9/-1;
    }
    #meetings p, #history p {
        padding: 10px 40px 0px 40px;
    }
    #histImg {
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
    }
    #histImg img {
        border-radius: 10px;
    }
    #meetings img {
        padding: 0;
        margin-top: 10px;
        border-radius: 10px;
    }
    #gearCon {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 20px 10px;
        max-width: 960px;
        max-height: 500px;
        margin-top: 15px;
    }
    .gearImg {
        padding-bottom: 0;
    }
    #exeCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(10px, 1fr));
        grid-template-rows: repeat(2, minmax(50px, 1fr));
        grid-gap: 15px;
    }
    
    #volCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(10px, 1fr));
        grid-template-rows: 60px repeat(1, minmax(50px, 1fr));
        grid-gap: 15px;
    }
    #pres, #trout {
        grid-column: 1/7;
    }
    #vice, #warm {
        grid-column: 7/-1;
    }
    #sec, #hab {
        grid-column: 1/5;
    }
    #treas, #hatch {
        grid-column: 5/9;
    }
    #chair, #pub {
        grid-column: 9/-1;
    }
    .gearOverlay {
        background: rgba(0,0,0,0.5);
        position: absolute;
        display: block;
        grid-column: 1/-1;
        max-height: 200px;
        max-width: 160px;
        left: 0;
        right: 0;
        opacity: 0;
        padding: 13px 0px 10px 0px;
        transition: all 1s ease;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        border-radius: 10px;
    }
    .gearImg {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        align-items: center;
        justify-items: center;
    }
    .gearImg img {
        grid-column: 1/-1;
    }
    .gearOverlay h3 {
        font-size: 23px;
    }
}

@media screen and (min-width: 666px) {
    #stats {
        display: block;
    }
    #statCon {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }
    #statImgCon {
        width: 500px;
        height: 375px;
        overflow: hidden;
    }
    .statImg {
        position: relative;
        transition: all .5s;
    }
    .statBut {
        text-align: center;
    }
    #statText {
        color: #fff;
        padding: 20px 100px 5px 100px;
        text-align: center;
        font-size: 18px;
        line-height: 23px;
    }
}

@media screen and (min-width: 800px) {
    .statImg {
        width: 100%;
    }
    #meetings p, #history p {
        padding: 10px 60px 0px 60px;
    }
    #thirdAbout {
        display: block;
    }
    #histImg {
        padding: 15px 20px;
        padding-bottom: 0;
    }
    #statText {
        padding: 20px 150px 5px 150px;
    }
}

@media screen and (min-width: 900px) {
    #meetings p, #history p {
        padding: 10px 80px 0px 80px;
    }
    #statText {
        padding: 20px 200px 5px 200px;
    }
}

@media screen and (min-width: 950px) {
    #meetings p, #history p {
        padding: 10px 100px 0px 100px;
    }
}

/*Project Page Mobile*/

#projects {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#projects h4 {
    padding: 10px;
}

#projects p {
    color: #fff;
    padding: 10px 0px;
    line-height: 20px;
}

#current {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

.currentTitle {
    text-align: center;
    max-width: 378px;
    margin: 0 auto;
    margin-top: 10px;
}

.currentTitle h3 {
    color: #007f00;
    padding: 20px 0px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.currentTitle h3:hover {
    background-color: #007f00;
    color: #fff;
}

#currentCon {
    text-align: center;
}

#past {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

.pastTitle {
    text-align: center;
    max-width: 374px;
    margin: 0 auto;
}

.pastTitle h3 {
    color: #007f00;
    padding: 20px 0px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.pastTitle h3:hover {
    background-color: #007f00;
    color: #fff;
}

/*Projects Page Responsive*/

@media screen and (min-width: 641px) {
    #currentCon {
        display: flex;
        justify-content: space-around;
    }
    #projects p {
        padding: 10px 30px;
    }
    #pastCon {
        display: flex;
        margin-top: 15px;
    }
    .pastTitle {
        flex: 1 0 300px;
    }
    #projects h4 {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    #projects p {
        padding: 10px 50px;
    }
    #projects h4 {
        font-size: 20px;
    }
    .currentTitle h3 {
        font-size: 20px;
    }
    .proOverlay {
        background: rgba(0,0,0,0.5);
        position: absolute;
        display: block;
        grid-column: 1/-1;
        max-height: 400px;
        left: 0;
        right: 0;
        opacity: 0;
        padding: 50px 20px;
        transition: all 1s ease;
        margin: 0 auto;
        text-align: center;
    }
    .proOverlayCon {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        align-items: center;
        justify-items: center;
    }
    .proOverlayCon img {
        grid-column: 1/-1;
    }
    .proOverlay p {
        color: #fff;
        font-size: 18px;
        line-height: 25px;
    }
    .proOverlay h4 {
        padding-top: 20px;
        font-family: 'rubik-bolditalic', Arial, serif;
    }
}

/*Archives Page Mobile*/

#news {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#news p {
    color: #fff;
    padding: 5px;
    line-height: 20px;
}

#newsCon {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 10px;
    position: relative;
}

.newsBut {
    text-align: center;
}

.newsBut h3 {
    color: #007f00;
    padding: 10px 0px;
    background-color: #fff;
    border: 3px solid #007f00;
    border-radius: 10px;
}

.newsBut h3:hover {
    background-color: #007f00;
    color: #fff;
}

#events {
    background-color: #004200;
    padding: 15px;
    padding-bottom: 20px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#eventSub {
    padding-top: 5px;
}

#eventItalic {
    padding-top: 5px;
}

.eventCon {
    margin-top: 15px;
}

.eventCon p {
    color: #fff;
    text-align: left;
    padding: 5px 10px 0px 10px;
    text-indent: 1em;
    line-height: 22px;
}

.eventTitle {
    background-color: #fff;
    border: 3px solid #007f00;
    flex: 0 1 175px;
}

.eventBut {
    display: flex;
    justify-content: center;
}

.eventTitle h3 {
    color: #007f00;
    font-size: 12px;
    padding-top: 10px;
}

.eventTitle h4 {
    color: #007f00;
    font-size: 14px;
    padding-top: 5px;
}

.eventImg {
    margin-top: 10px;
    margin-bottom: 5px;
}

#eventButFlex {
    display: flex;
    max-width: 960px;
    justify-content: center;
}

#eventSub {
    padding-bottom: 10px;
}

/*Archive Page Responsive*/

@media screen and (min-width: 380px) {
    .eventTitle h3 {
        font-size: 14px;
    }
    .eventTitle {
        flex: 1 1 240px;
    }
}

@media screen and (min-width: 426px) {
    .newsSign {
        grid-column: 2/3;
    }
    .newsPush {
        grid-column: 1/2;
    }
    .eventTitle h3 {
        font-size: 16px;
        padding: 0;
        padding-top: 5px;
    }
    .eventTitle h4 {
        font-size: 16px;
    }
}

@media screen and (min-width: 500px) {
    #imgGrid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 53px));
        grid-template-rows: repeat(2, minmax(20px, auto));
        grid-gap: 10px;
    }
    #eventGridCon {
        display: flex;
        justify-content: center;
    }
    #eventTextOne {
        margin: 0;
        padding: 0;
        order: -1;
        grid-column: 1/8;
        margin-left: 20px;
    }
    .eventImg {
        margin: 0;
        grid-column: 8/-1;
        grid-row: 1/-1;
    }
    #eventTextTwo {
        margin: 0;
        padding: 0;
        grid-column: 1/8;
        margin-left: 20px;
    }
}

@media screen and (min-width: 560px) {
    .newsSign {
        grid-column: 1/2;
    }
    .newsPush {
        grid-column: 2/3;
    }
}

@media screen and (min-width: 695px) {
    #newsCon {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 40px);
        grid-gap: 10px;
    }
    #news p {
        padding: 5px 20px;
    }
    .eventTitle {
        flex: 0 1 575px;
    }
}

@media screen and (min-width: 800px) {
    #news p {
        padding: 5px 70px;
    }
    #eventSub {
        font-size: 20px;
    }
    #eventTextOne, #eventTextTwo {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {
    #news p {
        padding: 5px 100px;
    }
}

/*Links Page Mobile*/

#links {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#links h4 {
    font-size: 16px;
    padding: 5px;
}

#conservation {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.conLink {
    margin-top: 5px;
}

.conLink h3 {
    color: #007f00;
    font-size: 12px;
    padding: 10px 0px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.conLink h3:hover {
    background-color: #007f00;
    color: #fff;
}

#author {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#authCon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 5px;
    margin-top: 5px;
}

.authOne h3 {
    color: #007f00;
    font-size: 10px;
    padding: 10px 0px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.authOne h3:hover {
    background-color: #007f00;
    color: #fff;
}

.authLast {
    grid-column: 1/-1;
}

#government {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.gov {
    margin-top: 5px;
}

.gov h3 {
    color: #007f00;
    font-size: 10px;
    padding: 10px 0px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.gov h3:hover {
    background-color: #007f00;
    color: #fff;
}

#support {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.supportLink {
    margin-top: 5px;
}

.supportLink h3 {
    color: #007f00;
    padding: 10px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.supportInfo p {
    padding: 10px;
    color: #fff;
}

.supportLink h3:hover {
    background-color: #007f00;
    color: #fff;
}

#related {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.relatedLink {
    margin-top: 5px;
}

.relatedLink h3 {
    color: #007f00;
    padding: 10px;
    background-color: #fff;
    border: 3px solid #007f00;
}

.relatedLink h3:hover {
    background-color: #007f00;
    color: #fff;
}

#please {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#please p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}

#please a {
    color: #fff;
}

/*Links Page Responsive*/

@media screen and (min-width: 415px) {
    .authLast {
        grid-column: 2/3;
    }
    .authPush {
        grid-column: 1/2;
    }
}

@media screen and (min-width: 545px) {
    #authCon {
        display: grid;
        grid-template-columns: repeat(3, minmax(20px, 1fr));
        grid-gap: 5px;
    }
    #govCon {
        display: flex;
        justify-content: space-around;
    }
    .gov {
        flex: 0 1 400px;
    }
    #please p {
        padding: 0px 25px;
    }
}

@media screen and (min-width: 641px) {
    #links h4 {
        font-size: 20px;
    }
    .conLink {
        grid-column: 1/5;
    }
    .conLink h3 {
        padding: 0;
        font-size: 11px;
        padding: 13px 0px;
    }
    .conInfo {
        display: block;
        grid-column: 5/-1;
    }
    .conInfo p {
        font-size: 11px;
        color: #fff;
        text-align: left;
        padding: 8px 15px 0px 5px;
    }
    #conCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-template-rows: repeat(7, 45px);
        grid-gap: 10px;
    }
    .bumpConOne h3, .bumpConTwo h3{
        padding: 0;
        padding: 7px 13px;
    }
    .authOne h3 {
        font-size: 12px;
    }
    .gov h3 {
        font-size: 12px;
    }
    #supportCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-gap: 10px;
    }
    .supportLink {
        grid-column: 1/5;
    }
    .supportInfo {
        grid-column: 5/-1;
        padding-top: 10px;
    }
    .supportInfo p {
        font-size: 14px;
    }
    .supportLink h3 {
        padding: 0;
        padding: 13px 0px;
        font-size: 11px;
    }
    #relatedCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-template-rows: repeat(8, 50px);
        grid-gap: 10px;
    }
    .relatedLink {
        grid-column: 1/5;
    }
    .relatedInfo {
        display: block;
        grid-column: 5/-1;
    }
    .relatedLink h3 {
        padding: 0;
        font-size: 11px;
        padding: 15px 10px;
    }
    .relatedInfo p {
        font-size: 11px;
        color: #fff;
        text-align: left;
        padding: 8px 15px 0px 5px;
    }
}

@media screen and (min-width: 719px) {
    .bumpConOne h3 {
        padding: 0;
        padding: 13px 0px;
    }
    #please p {
        padding: 0px 50px;
    }
}

@media screen and (min-width: 800px) {
    .supportInfo p {
        font-size: 17px;
    }
    .conInfo p {
        font-size: 13px;
    }
    .relatedInfo p {
        font-size: 13px;
    }
}

@media screen and (min-width: 840px) {
    .bumpConTwo h3 {
        padding: 0;
        padding: 12px 0px;
    }
}

@media screen and (min-width: 900px) {
    .conLink h3 {
        font-size: 13px;
    }
    .authOne h3 {
        font-size: 13px;
    }
    .gov h3 {
        font-size: 13px;
    }
    .supportLink h3 {
        font-size: 14px;
    }
    .relatedLink h3 {
        font-size: 13px;
    }
    #please p {
        padding: 0px 80px;
    }
}

/*Contact Page Mobile*/

#contact {
    background-color: #004200;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#contact p {
    color: #fff;
    line-height: 22px;
    padding: 5px 0px;
}

#contact h5 {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    line-height: 20px;
}

#contactCon {
    margin-top: 10px;
    max-width: 960px;
}

.contactImg {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#contactFormCon {
    background-color: #004200;
    padding: 15px;
    max-width: 641px;
    margin-top: 10px;
    text-align: center;
}

#contactFormCon p {
    color: #fff;
    margin-top: 10px;
}

#contactFormCon #formTitle {
    font-size: 20px;
}

#contactForm {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 105px));
    grid-gap: 20px;
    margin-top: 10px;
}

.label {
    background-color: #fff;
    border: 3px solid #007f00;
}

.label h3 {
    color: #007f00;
    font-size: 14px;
    padding: 5px 0px;
}

.formDiv {
    display: contents;
}

.firstName, .lastName, .email, .emailConfirm, .checkbox {
    grid-column: 1/4;
}

#firstName, #lastName, #email, #emailConfirm {
    grid-column: 4/-1;
}

#checkbox {
    grid-column: 5/6;
    width: 35px;
    height: 35px;
}

input[placeholder] {
    text-align: center;
}

#mailText {
    line-height: 20px;
}

#contactSubmit {
    width: 100px;
    height: 45px;
    background-color: #fff;
    border: 3px solid #007f00;
    color: #007f00;
    border-radius: 5px;
    margin-top: 20px;
}

#fundraise {
    background-color: #004200;
    padding: 15px 15px 25px 15px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#fundraise p {
    color: #fff;
    text-align: left;
    text-indent: 1em;
    padding: 10px 15px 0px 15px;
    line-height: 22px;
}

#fundraise h3 {
    padding: 5px 0px;
}

/*Contact Page Responsive*/

@media screen and (min-width: 641px) {
    #contactCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-gap: 10px;
    }
    #contactFormCon {
        margin: 0;
        grid-column: 1/9;
        grid-row: 1/-1;
    }
    .contactImg {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        grid-column: 9/-1;
        grid-row: 1/-1;
    }
    .contactTwo {
        display: block;   
    }
    #contactFormCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(10px, 1fr));
        grid-template-rows: repeat(8, minmax(20px, 66px));
        grid-gap: 10px;
    }
    #formTitle {
        grid-column: 1/-1;
    }
    #contactFormCon #formTitle {
        font-size: 40px;
        padding-top: 10px;
    }
    #contactForm {
        padding-top: 10px;
        grid-column: 2/12;
        grid-row: 2/5;
    }
    #submitCon {
        grid-column: 5/9;
        grid-row: 6/6;
    }
    #contactSubmit {
        margin: 0;
    }
    #mailText {
        grid-column: 1/-1;
        grid-row: 7/-1;
        font-size: 18px;
        line-height: 22px;
    }
    #fundraise p {
        padding: 10px 30px 0px 30px;
    }
    #fundraise h3 {
        font-size: 25px;
    }
    #contact p {
        padding: 5px 20px;
    }
}

@media screen and (min-width: 800px) {
    #fundCon {
        display: grid;
        grid-template-columns: repeat(12, minmax(20px, 1fr));
        grid-gap: 10px;
        padding: 10px;
    }
    #fundText {
        grid-column: 1/8;
    }
    #fundText p {
        padding-top: 13px;
    }
    #fundPhoto {
        display: block;
        grid-column: 8/-1;
    }
    #fundPhoto img {
        margin-top: 20px;
        border-radius: 10px;
    }
    #contact p {
        padding: 10px 50px;
    }
    #contact h5 {
        font-size: 25px;
    }
}
 
@media screen and (min-width: 915px) {
    #mailText {
        line-height: 24px;
        font-size: 20px;
    }
}